<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@700&display=swap"
    rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/images/simbolo.svg" type="image/x-icon">

  <link rel="stylesheet" href="/assets/styles/global.css">
  <link rel="stylesheet" href="/assets/styles/header.css">
  <link rel="stylesheet" href="/assets/styles/index.css">
  <link rel="stylesheet" href="/assets/styles/modal.css">
  <title>Seu marketplace de coleta de resíduos | Ecoleta</title>
</head>

<body>

  <div class="background">
    <div class="content-wrapper">
      <header class="header">
        <a class="header__logoLink" href="/">
          <img class="header__logoImage" src="assets/images/logo.svg" alt="Logo ecoleta">
        </a>
        <a class="header__registerWrapper header__registerLink" href="/register">
          <span class="header__registerIcon"></span>
          Cadastre um ponto de coleta
        </a>
      </header>

      <main class="marketplace">
        <div class="marketplace__contentWrapper">
          <h1 class="marketplace__title">Seu marketplace de coleta de resíduos.</h1>
          <p class="marketplace__description">Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
          <a class="marketplace__button" data-searchButton>
            <span class="button__icon"></span>
            <span class="button__text">Pesquisar pontos de coleta</span>
          </a>
        </div>
      </main>
    </div>
  </div>



  <!-- Modal -->
  <div data-modal class="modal__wapper">
    <div class="modal__content">
      <div class="modal__header">
        <span class="modal__title">Pontos de coleta</span>
        <a data-closeModal class="modal__close" href="#">Fechar</a>
      </div>
      <form data-js="register__form" class="register__form modal__form" action="/search" method="GET">
        <label class="entityData__label sr-only" for="state">Estado</label>
        <select class="entityData__select modal__select" name="state" id="state" required>
          <option value="" selected>Selecione seu estado</option>
        </select>
        <label class="entityData__label sr-only" for="city">Cidade</label>
        <select class="entityData__select modal__select" name="city" id="city" disabled required>
          <option value="0" selected>Selecione sua cidade</option>
        </select>
        <button class="modal__button">Buscar</button>
      </form>
    </div>
  </div>



  <!-- <div class="modal__wapper">
    <div class="modal__content">
      
    </div>
  </div> -->

  <script src="/assets/scripts/getCities.js"></script>
  <script src="/assets/scripts/modal.js"></script>
</body>

</html>