@import url(reset.css);

*{
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

:root {
  --greenpeace: #34CB79;
  --desaturated: #E1FAEC;
  --titles: #322153;
  --texts: #6C6C80;
  --text-support: #A0A0B2;
  --blocks: #FFFFFF;
  --background: #F0F0F5;

  font-size: 62.5%;
}