@import url(reset.css);

*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --greenpeace: #34CB79;
  --greenpeace-hover: #34cb78b3;
  --desaturated: #E1FAEC;
  --title: #322153;
  --text: #6C6C80;
  --text-support: #A0A0B2;
  --block: #FFFFFF;
  --background: #F0F0F5;

  font-size: 62.5%;
}

.content-wrapper {
  max-width: 112rem;
  margin: 0 auto;
  padding: 0 1rem;
}

button {
  transition: transform .25s;
}

button:hover {
  cursor: pointer;
  transform: translateY(-.3rem);
}

@media (max-width: 900px) {
  .content-wrapper {
    padding: 0 2%;
  }
}









/* ------------------------- */

/* Font Family */
.marketplace__title,
.register__title,
.register__subtitle {
  font-family: 'Ubuntu', sans-serif;
}

a,
button,
body,
.header__registerLink,
.marketplace__description,
.entityData__label,
.entityData__input,
.entityData__select {
  font-family: 'Roboto';
}
/* END Font Family */


/* Font Size */
.entityData__label {
  font-size: 1.4rem;
}
body,
button,
a,
.marketplace__button,
.entityData__select  {
  font-size: 1.6rem;
}
.marketplace__description,
.register__subtitle {
  font-size: 2.4rem;
}
.register__title {
  font-size: 3.6rem;
}
.marketplace__title{
  font-size: 5.4rem;
}
/* END Font Size */


/* Text Colors */
.marketplace__title,
.header__registerLink,
.register__title,
.register__subtitle {
  color: var(--title);
}
.modal__title,
.marketplace__button {
  color: var(--block);
}
.marketplace__description,
.entityData__label,
.entityData__input,
.entityData__select {
  color: var(--text);
}
/* END Text Colors */


/* Background Colors */
.marketplace__button {
  background-color: var(--greenpeace);
}
.register {
  background-color: var(--block);
}
.background ,
.entityData__input,
.entityData__select {
  background-color: var(--background);
}
/* END Background Colors */


/* Weight */
.marketplace__title,
.modal__title,
.header__registerLink,
.register__title,
.register__subtitle {
  font-weight: bold;
}
/* END Weight */


/* Border Radius */
.marketplace__button,
.entityData__input,
.entityData__select {
  border-radius: 0.8rem;
}
/* END Border Radius */











