/* ############################ */
/* ######### Register ######### */
/* ############################ */
.register {
  width: 66.91%;
  margin: 0 auto;
  margin-top: 7.6rem;
  margin-bottom: 12rem;
  padding: 6.4rem;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__title {
  margin-bottom: 6.4rem;
}

.register__subtitle {
  margin-bottom: 4.6rem;
}

.entityData {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register__fieldGroup {
  display: flex;
  flex: 1;
}

.register__fieldGroup .register__field:nth-child(1) {
  margin-right: 2.4rem;
}

.register__field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.register__field--address {
  flex-grow: 2;
}


.entityData__label {
  margin-bottom: 0.8rem;
}

.entityData__input,
.entityData__select {
  padding: 1.8rem 2.4rem;
  margin-bottom: 2.4rem;
}

.entityData__select:disabled {
  background-color: rgba(202, 202, 207, 0.6);
  color: #acacbc;
}


.entityData__option {
  background-color: var(--block);
  color: #ffffff;
  position: relative;
}

.entityData__option::after {
  content: 'AAA';
  position: absolute;
  width: 10px;
  height: 10px;
}

.entityData__input:focus {
  outline: 1px solid rgba(108, 108, 128, 0.7);
}


/* ############################ */
/* ####### collectItems ####### */
/* ############################ */



.collectItems {
  margin-bottom: 6.4rem;
}

.collectItems__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collectItems__subtitle {
  margin-bottom: 4rem;
}

.collectItems__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}

.collectItems__item {
  background-color: var(--background);
  border: 2px solid var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 3.4rem 2.4rem;
}

.collectItems__item.collectItems__item--selected {
  border: 2px solid var(--greenpeace);
  background-color: var(--desaturated);
}

.collectItems__item:hover {
  cursor: pointer;
}

.collectItems__image {
  max-width: 6.4rem;
  height: 6.4rem;
  margin-bottom: 2.4rem;
}

.collectItems__description {
  text-align: center;
}

.register__button {
  padding: 1.8rem 4rem;
  align-self: flex-end;
}

.collectItems__image,
.collectItems__description {
  pointer-events: none;
  user-select: none
}